form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
#projects ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: 0.3s;
}

#projects ul li a:hover {
    color: #4CAF50;
    font-weight: bold;
}
